//Fonts
$font-primary: "Montserrat", "Arial", sans-serif;

//Base colors
$base-color-1: #7859cf;
$base-color-2: #f0ebff;
$base-color-3: #333333;
$base-color-4: #ffffff;
$base-color-5: #bdbdbd;

//Alternate
$alternate-color-1: #9070ec;
$alternate-color-2: #593cac;
$alternate-color-3: rgba(120, 89, 207, 0.25);
$alternate-color-4: #e2e2e2;

//Background Colors
$background-color-1: #f8f8f8;
$background-color-2: #f3ebe1;
$background-color-3: #eae6fc;
$background-color-4: #e5e6e8;
$background-color-transparent: transparent;
// View Port Size
$view-port-desktop: 1440px;
$view-port-tablet: 768px;
