@use "../common/variables.scss";
@use "../common/mixins.scss";

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.activities__link {
  color: variables.$base-color-3;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.mobile {
    width: 60px;
    height: 60px;
  }

  @include mixins.tablet {
    width: 60px;
    height: 80px;
  }
}

.activities__item-title {
  display: none;

  @include mixins.desktop {
    display: block;
  }
}

