@use "../common/variables.scss";
@use "../common/mixins.scss";

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.activities__link {
  color: variables.$base-color-3;
  text-transform: uppercase;

  @include mixins.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
}

.activities__item-title {
  @include mixins.mobile {
    display: none;
  }
}

