@use "../common/variables.scss";
@use "../common/mixins.scss";

.advantages {
  @include mixins.mobile {
    padding: 40px 0 60px;
  }

  @include mixins.tablet {
    padding-top: 25px;
    padding-bottom: 100px;
  }

  @include mixins.desktop {
    padding-top: 90px;
    padding-bottom: 119px;
  }
}

.advantages__title {
  margin-bottom: 5px;
}

.advantages__description {
  margin: 0;
  padding: 0;
  text-align: center;

  @include mixins.mobile {
    @include mixins.font-info(24px, 36px, 700);
    margin-bottom: 35px;
  }

  @include mixins.tablet {
    @include mixins.font-info(42px, 63px, 700);
    margin-bottom: 62px;
  }

  @include mixins.desktop {
    margin-bottom: 77px;
  }
}

.advantages__list {
  @include mixins.list-base;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
    padding-left: 10px;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 30px;
    padding-left: 0;
  }
}

.advantages__item {
  display: flex;
  position: relative;
  flex-direction: column;

  @include mixins.mobile {
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 56px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  @include mixins.tablet {
    padding-left: 72px;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      display: block;
      width: 52px;
      height: 55px;
      margin: 0 auto;
    }
  }

  @include mixins.desktop {
    align-items: center;
    padding-left: 0;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 56px;
      margin: 0 auto;
      margin-bottom: 24px;
      position: relative;
    }
  }
}

.advantages__item--speed::before {
  background: url("../../icons/stack.svg#time-icon") no-repeat center / cover;
}

.advantages__item--convenience::before {
  background: url("../../icons/stack.svg#shield-icon") no-repeat center / cover;
}

.advantages__item--cheerfulness::before {
  background: url("../../icons/stack.svg#sparc-icon") no-repeat center / cover;
}

.advantages__item--ecology::before {
  background: url("../../icons/stack.svg#leaf-icon") no-repeat center / cover;
}

.advantages__item-title {
  margin: 0;

  @include mixins.mobile {
    @include mixins.font-info(18px, 32px, 700);
    margin-bottom: 4px;
  }

  @include mixins.tablet {
    @include mixins.font-info(24px, 36px, 700);
    margin-bottom: 10px;
  }
}

.advantages__item-description {
  margin: 0;

  @include mixins.mobile {
    text-align: center;
  }

  @include mixins.tablet {
    @include mixins.font-info(16px, 24px);
  }

  @include mixins.desktop {
    text-align: center;
  }
}
