@use "../common/variables.scss";
@use "../common/mixins.scss";

.catalog {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $background-color-1;
}

.catalog__container {
  @include mixins.desktop {
    grid-template-columns: 318px 1fr;
    grid-template-areas:
      "title       title       title"
      "description description description"
      "form        fiter       filter"
      "form        cards       cards"
      "form        pagination  pagination";
    column-gap: 30px;
    display: grid;
  }
}

.catalog__title {
  grid-area: title;
}

.catalog__description {
  @include mixins.font-info(24px, 36px, 700);
  grid-area: description;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.catalog__form {
  grid-area: form;
}

.catalog__filters {
  grid-area: filter;
  display: flex;
  align-items: center;

  @include mixins.mobile {
    justify-content: space-between;
  }

  @include mixins.tablet {
    justify-content: flex-end;
  }
}

.catalog__sorting-title {
  @include mixins.font-info(16px, 24px, 600);
}

.catalog__sorting-wrapper {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 10px;
    height: 10px;
    background: url("../../icons/stack.svg#arrow-down-icon") no-repeat center;
  }

  &:focus-within::after {
    background: url("../../icons/stack.svg#arrow-up-icon") no-repeat center;
  }

  &:focus-within .catalog__sorting {
    background-color: $base-color-4;
  }
}

.catalog__sorting {
  @include mixins.font-info(16px, 24px, 600);
  background-color: inherit;
  appearance: none;
  border: 0;
  color: $base-color-1;
  border-radius: 4px;
  padding: 4px 30px 4px 10;
  min-width: 165px;
  min-height: 32px;

  &:hover {
    background-color: $base-color-2;
  }
}

.catalog__list {
  @include mixins.list-base;
  display: grid;
  grid-area: cards;

  @include mixins.mobile {
    grid-template-rows: repeat(6, 420px);
    gap: 20px;
  }

  @include mixins.tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__navigation {
  grid-area: pagination;
}
