@use "../common/variables.scss";
@use "../common/mixins.scss";

.catalog-card {
  display: flex;
  flex-direction: column;
  background-color: $base-color-4;
  padding: 43px 20px 20px;
  border-radius: 4px;
}

.catalog-card__image-link {
  margin-bottom: 19px;
  text-align: center;
}

.catalog-card__title {
  @include mixins.font-info(18px, 32px, 700);
  align-self: flex-start;
  margin: 0;
  margin-bottom: 4px;
}

.catalog-card__link {
  display: block;
  text-decoration: none;
  color: $base-color-3;
}

.catalog-card__description {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-card__price {
  @include mixins.font-info(20px, 32px, 600);
  margin-left: -2px;
}

.catalog-card__button {
  position: relative;
  padding-left: 46px;

  &::after {
    position: absolute;
    content: "";
    left: 20px;
    width: 20px;
    height: 16px;
    background: url("../../icons/stack.svg#plus-cart-icon") no-repeat center;
  }
}
