@use "../common/variables.scss";
@use "../common/mixins.scss";

.footer {
  padding-top: 20px;
}

.footer__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  grid-template-areas:
    "logo       social"
    "navigation navigation"
    "developer  developer";

  @include mixins.desktop {
    grid-template-columns: max-content 1fr;
    column-gap: 30px;
    grid-template-areas:
      "logo        navigation"
      "description navigation"
      "social      navigation"
      "developer   developer";
  }
}

.footer__logo {
  grid-area: logo;
}

.footer__logo-description {
  display: none;
  margin: 0;
  grid-area: description;

  @include mixins.desktop {
    display: block;
  }
}

.footer__social {
  grid-area: social;
}

.footer__navigation-list {
  @include mixins.list-base;
  grid-area: navigation;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__navigation-item {
  @include mixins.mobile {
    border-top: 1px solid $base-color-2;
  }
}

.footer__navigation-item:last-child {
  @include mixins.mobile {
    border-bottom: 1px solid $base-color-2;
  }
}

.footer__developer {
  grid-area: developer;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer__developer-label {
  @include mixins.font-info(12px, 16px);
  color: $base-color-5;
}

.footer__developer-link {
  @include mixins.font-info(12px, 16px);
  position: relative;
  text-decoration: none;
  color: $base-color-5;
  padding-right: 20px;

  &:hover {
    color: $base-color-1;
  }

  &:active {
    color: $alternate-color-2;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 13px;
    height: 16px;
    mask: url("../../icons/stack.svg#developer-icon") no-repeat center;
    background-color: $base-color-5;
  }

  &:hover::after {
    background-color: $base-color-1;
  }

  &:active::after {
    background-color: $alternate-color-2;
  }
}
