@use "../common/variables.scss";
@use "../common/mixins.scss";

.form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.form__title {
  @include mixins.font-info(16px, 24px, 600);
  margin-bottom: 24px;
}

.form__filter-items {
  @include mixins.font-info(16px, 24px);
  @include mixins.list-base;
  text-align: left;
  margin-bottom: 30px;
}

.form__filter-item {
  margin-bottom: 20px;
}

.form__filter-input-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.form__slider-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  background-image: linear-gradient(to top, $base-color-5, $base-color-5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 2px;
}

.form__slider-input {
  @include mixins.font-info(16px, 24px, 500);
  width: 110px;
  height: 35px;
  text-align: center;
  border: 2px solid $alternate-color-1;
  padding: 8px 10px;
  border-radius: 4px;
  appearance: textfield;
  background-color: $base-color-4;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $base-color-5;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    border-color: $alternate-color-2;
  }

  &:disabled {
    border: 2px solid $alternate-color-4;
    color: $base-color-5;
    background: $background-color-1;
  }
}

.form__group--buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__button {
  @include mixins.font-info(16px, 24px);
}

.form__radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $base-color-5;
  background-color: $base-color-4;
  border-radius: 50%;
  padding: 0;
}

.form__radio-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: $base-color-1;
  border-radius: 50%;
  display: none;
}

.form__control-input:checked ~ .form__radio-mark {
    border: 2px solid $base-color-1;
}

.form__control-input:checked ~ .form__radio-mark::before {
  display: block;
}

.form__control-input:disabled ~ .form__radio-mark {
  border: 2px solid $alternate-color-4;
}

.form__control-input:disabled ~ .form__text {
  color: $base-color-5;
}

.form__check-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  background-color: $base-color-5;
  border-radius: 12px;
  padding: 0;
}

.form__check-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: $base-color-4;
  border-radius: 50%;
}

.form__control-input:checked ~ .form__check-mark {
  background-color: $base-color-1;
}

.form__control-input:checked ~ .form__check-mark::before {
  left: 73%;
}

.form__control-input:disabled ~ .form__check-mark {
  background-color: $alternate-color-4;
}

.form__check-mark ~ .form__text {
  padding-left: 52px;
}

.form__radio-mark ~ .form__text {
  padding-left: 34px;
}
