@use "../common/variables.scss";
@use "../common/mixins.scss";

.hero {
  position: relative;
  max-width: variables.$view-port-desktop;
  margin: 0 auto;
}

.hero__image-wrapper {
  display: block;
  grid-area: image;

  @include mixins.tablet {
    order: 2;
  }
}

.hero__slider {
  @include mixins.list-base;
  display: grid;
}

.hero__item {
  visibility: hidden;
  grid-area: 1/1/-1/-1;

  @include mixins.mobile {
    &:nth-child(1n) {
      background-color: $background-color-2;
    }

    &:nth-child(2n) {
      background-color: $background-color-3;
    }

    &:nth-child(3n) {
      background-color: $background-color-4;
    }
  }

  @include mixins.tablet {
    &:nth-child(1n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 188px, $background-color-2 188px);
    }

    &:nth-child(2n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 188px, $background-color-3 188px);
    }

    &:nth-child(3n) {
      background-color: unset;
      background-image: linear-gradient(0deg, transparent 188px, $background-color-4 188px);
    }
  }

  @include mixins.desktop {
    &:nth-child(1n) {
      background-image: none;
      background-color: $background-color-2;
    }

    &:nth-child(2n) {
      background-image: none;
      background-color: $background-color-3;
    }

    &:nth-child(3n) {
      background-image: none;
      background-color: $background-color-4;
    }
  }
}

.hero__item--active {
  visibility: visible;
}

.hero__content-wrapper {
  grid-area: content;

  @include mixins.desktop {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8px;
    display: flex;
  }
}

.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  @include mixins.mobile {
    padding: 20px 20px 60px;
  }

  @include mixins.tablet {
    padding: 60px 20px 20px;
  }

  @include mixins.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
    gap: 30px;
  }
}

.hero__label {
  margin: 0;
}

.hero__title {
  @include mixins.font-info(36px, 48px, 700);
  margin: 4px 0 10px;
  letter-spacing: 0.02em;

  @include mixins.mobile {
    text-align: center;
  }

  @include mixins.desktop {
    text-align: left;
  }
}

.hero__description {
  margin: 0 0 20px;

  @include mixins.mobile {
    text-align: center;
  }

  @include mixins.desktop {
    text-align: left;
  }
}

.hero__slider-container {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.hero__slider-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: variables.$view-port-desktop;
  margin: 0 auto;
}

.hero__page-button-icon {
  @include mixins.mobile {
    margin: 0 auto;
  }
}

.hero__page-button {
  background-color: transparent;
  color: $base-color-1;
  border: none;

  @include mixins.mobile {
    width: 20px;
  }

  @include mixins.tablet {
    width: 80px;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background: linear-gradient(90deg, $base-color-4 0%, $background-color-transparent 100%);
  }

  &:active:not(:disabled) {
    background: linear-gradient(90deg, $alternate-color-3 0%, rgba($alternate-color-3, 0) 100%);
  }

  &:disabled {
    color: $base-color-5;
  }
}

.hero__page-button--after {
  transform: rotate(180deg);
}

.hero__pagination {
  @include mixins.list-base;
  display: none;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translate(50%);
  z-index: 1;

  @include mixins.desktop {
    display: flex;
    gap: 8px;
  }
}

.hero__pagination-item {
  border: none;
  background: $base-color-4 padding-box content-box;
  width: 62px;
  height: 24px;
  padding: 10px 0;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $alternate-color-3;
  }

  &:active {
    background-color: $base-color-1;
  }
}

.hero__pagination-item--active {
  background-color: $base-color-1;
}
