@use "../common/variables.scss";
@use "../common/mixins.scss";

.main-nav--closed {
  @include mixins.mobile {
    display: none;
  }
}

.main-nav--opened {
  @include mixins.mobile {
    display: block;
    top: 100%;
    width: 100%;
    right: 0;
    position: absolute;
    z-index: 1;
  }
}

.main-nav__list {
  @include mixins.list-base;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;

  @include mixins.mobile {
    flex-direction: column;
  }
}

.main-nav__activities {
  @include mixins.list-base;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.main-nav__toggle {
  cursor: pointer;
  border: none;
  width: 60px;
  height: 60px;

  @include mixins.tablet {
    display: none;
  }
}

.main-nav--closed ~ .main-nav__toggle::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background-color: variables.$base-color-3;
  box-shadow:
    0 8px 0 0 variables.$base-color-3,
    0 -8px 0 0 variables.$base-color-3;
}

.main-nav--opened ~ .main-nav__toggle::before,
.main-nav--opened ~ .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: variables.$base-color-3;
}

.main-nav--opened ~ .main-nav__toggle::after {
  transform: translateX(-50%) rotate(45deg);
}

.main-nav--opened ~ .main-nav__toggle::before {
  transform: translateX(-50%) rotate(-45deg);
}
