@use "../common/variables.scss";
@use "../common/mixins.scss";

.navigation-topic {
  padding-top: 6px;

  @include mixins.mobile {
    margin-bottom: 27px;
  }

  @include mixins.tablet {
    margin-bottom: 6px;
  }
}

.navigation-topic__title {
  @include mixins.font-info(14px, 20px, 700);
  color: $base-color-1;

  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 2px;

  @include mixins.mobile {
    padding: 15px 0;
  }

  @include mixins.tablet {
    padding: 4px 0;
  }
}

.navigation-topic__list {
  @include mixins.list-base;
  position: relative;
  margin-bottom: 27px;

  @include mixins.tablet {
    margin-bottom: 0px;
    margin-top: 13px;
  }
}

.navigation-topic__item {
  margin-bottom: 16px;

  @include mixins.desktop {
    &:last-child {
      margin-bottom: 5px;
    }
  }
}

.navigation-topic__item-link {
  @include mixins.font-info(12px, 16px, 500);
  position: relative;
  color: $base-color-3;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $alternate-color-1;
  }

  &:active {
    color: $alternate-color-2;
  }
}
